Appium-Python-Client==1.0.2
numpy~=1.17.4
Pillow~=6.2.1
pytest==6.2.4
pytest-bdd>=4.0.1
requests~=2.22.0
selenium~=3.141.0
opencv-python~=4.1.2.30
pytesseract~=0.3.6
python-jenkins==1.7.0
cryptography==3.4.7
pytest-check==1.0.1